
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    background-color: black;
    padding: 15px; 
   
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 5pxpx;
}

.spot img{
    width: 37px;
    height: auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 22px;
}

.spot {
    display: flex;
    align-items: center ;
    font-size: 1.3em;
    margin-right: auto;
    list-style-type: circle;
    font-weight: bold;
}


nav li {
    padding-top: 4px;
    padding-left: 10px;   
    padding-right: 15px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    
}

.abc1
.abc2
.abc3
 :hover{
    color: blanchedalmond;
    background-color: #333;
    padding: auto;
}

.abc1 a {
    color: #f0f0f0;
    padding: 20 10;
    
    text-decoration: none;
    font-weight: bold;
      font-family: "Varela Round", sans-serif;
    box-shadow: 2px 4px 10px rgb(154, 49, 49);
}
.abc2 a {
    color: #f0f0f0;
    gap: 1px;
    padding: 0;
    border-color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
      font-family: "Varela Round", sans-serif;
    box-shadow: 2px 4px 10px rgb(154, 49, 49);

}
.abc3 a {
    color: #f0f0f0;
    gap: 2px;
    padding: 20 10;
    border-color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
      font-family: "Varela Round", sans-serif;
    box-shadow: 2px 4px 10px rgb(154, 49, 49);

}

.hero {
    background: url(img/img2.jpg);
    padding-bottom: 55px;
    display: flex-start;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.hero h1 {
    text-align: center;
    padding-top: 72px;
    font-size: 4em;
  font-family: "Varela Round", sans-serif;
}

.hero h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
      font-family: "Varela Round", sans-serif;

}

.btn {
  background-color: white;   /* white background */
  color: #333;               /* dark text for contrast */
  padding: 10px 20px;        /* space inside */
  border-radius: 5px;        /* rounded corners */
  text-decoration: none;     /* remove underline */
  font-weight: bold;
  position: relative;        /* ensures it sits above background */
    display: inline-block;
    justify-content: center; 

}

.btn :hover {
    background-color: #f0f0f0;
}