
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css);

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=Varela+Round&display=swap');

body{
    color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    background-color: #0c0606;
    justify-content: end;
    position: fixed;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    gap: 5pxpx;
}

.spot {
    display: flex;
    align-items: center ;
    font-size: 1.3em;
    margin-right: auto;
    font-weight: bold;
    cursor: text;
    
}


nav li {
    padding-top: 4px;
    padding-left: 10px;   
    padding-right: 15px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    
}

.abc1 :hover,
.abc2 :hover,
.abc3 :hover{
    color: blanchedalmond;
    background-color: #333;
    height: 30px;
    transform: scale(1.0002);

}


.abc1 a {
    color: #f0f0f0;
    padding: 20 10;
    
    text-decoration: none;
    font-weight: bold;
      font-family: "Varela Round", sans-serif;
   
}
.abc2 a {
    color: #f0f0f0;
    gap: 1px;
    padding: 0;
    border-color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
      font-family: "Varela Round", sans-serif;


}
.abc3 a {
    color: #f0f0f0;
    gap: 2px;
    
    border-color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
      font-family: "Varela Round", sans-serif;


}

.hero {
    background: url(img/img2.jpg);
    padding-bottom: 55px;
    display: flex-start;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.hero h1 {
    text-align: center;
    padding-top: 72px;
    font-size: 200%;
  font-family: "Varela Round", sans-serif;
}

.hero h2 {
    text-align: center;
    font-size: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
      font-family: "Varela Round", sans-serif;

}

.btn {
  background-color: white;   /* white background */
  color: #333;               /* dark text for contrast */
  padding: 10px 20px;        /* space inside */
  border-radius: 5px;        /* rounded corners */
  text-decoration: none;     /* remove underline */
  font-weight: bold;
  position: static;        /* ensures it sits above background */
    display: inline-block;
    justify-content: center; 

}

.btn :hover {
    background-color: #f0f0f0;
}

.about h1 {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    padding-top: 44px;
    font-size: 250%;
}

.about p {
     
    text-align: center;
    padding-top: 20px;
    
    font-family: "Varela Round", sans-serif;
    font-size: x-large;
    padding-bottom: 50px;
    line-height: 36px;
    letter-spacing: 1px;
}

.projects h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
     font-family: "Varela Round", sans-serif;
     font-size: 2.5em;
}



div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    
}

.project img {
    width: 60%;
    height: auto;
    border-radius: 6px;
    
}

.project :hover {
    transform: scale(1.02);
}

.projects {
    padding-bottom: 80px;
    padding-top: 80px;
}

.project {
    display: flex;
    flex-direction: column;
    font-family: "Varela Round", sans-serif;
    background-color: none;
    height: auto;
    padding-bottom: 20px;
}


.project h3,p {
    padding-left: 20px;
}

.project p {
    line-height: 1.3;
    font-size: 122%;
    word-wrap: break-word;
    overflow-wrap: ;
}

.project h3 {
    font-weight: bold;
    font-size: 200%;
    
}

html {
  scroll-behavior: smooth;
}


.contact {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: "Varela Round", sans-serif;

}

.contact h1 {
    padding-bottom: 20px;
}

.contact h2 { 
 border: 2px solid #000000;
  background-color: rgb(110, 128, 165);   /* white background */
  color: #f2eded;               /* dark text for contrast */
  padding: 10px 20px;        /* space inside */
  border-radius: 5px;        /* rounded corners */
  text-decoration: none;     /* remove underline */
  font-weight: bold;
  position: relative;        /* ensures it sits above background */
    display: inline-block;
    justify-content: center; 
}

.contact h2 :hover {
color: aliceblue;
}

.footer {
  text-align: center;
  background: #222;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}

.footer a {
  color: #00aced;
  text-decoration: none;
  margin: 0 8px;
}

.footer a:hover {
  text-decoration: underline;
}

.pppp {
    height: auto;
}